/* Adding style at HTML */

html{
    margin: 0px;
    padding: 0%;
    background-color: black;
    
}
h1,h2,h3,h4,p, label, button{
    font-family: 'Manrope', sans-serif;
}
 
header{
    margin: 0px;
    text-align: center;
    color: #f4f4f4;
    
}
/* Background style */
main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image:url("../img/bg.jpg") ;
    background-size: cover; 
    background-position: center;  
    
}

#searchContent{
    background-color: rgba(254, 253, 253, 0.7);
    padding: 40px 60px; 
    max-width: 600px; 
    margin: auto; 
    border-radius: 5%;    
}
#searchContent:hover{
    box-shadow: 4px 5px 3px 4px orange;
}
button{
    padding: 3px;
}
button:hover{
    background-color: orange;
    color: #f4f4f4;
    border-radius: 10%;
    font-weight: 600;
    cursor: pointer;
}
/* Display results style  */
.results{
    text-align: center;
    align-items: center;
    display: flex;
    justify-items: center;
}
/* Image configuration */
img{
    width: 50%;
    height: auto;
    box-shadow: 4px 2px 6px black;
    transition: transform 0.4s ease-in-out;
}
/* Hover effects */
img:hover{
    transform: scale(1.05)
}
section{
    padding: 10%;
}
/* Article configuration */
article{
    padding: 5%;
    border-style: solid;
    border-width: 10px;
    border-color: #b9710d;
    width: 90%;
    background-color: rgb(235, 226, 226);
    margin-bottom: 5%
}
#movieResult{
    color: rgb(57, 15, 123);
    font-size: 1.2em;
    text-decoration: underline;
}
/* Student details */
#studentInfo{
    font-size: 2em;
    text-shadow: 2px 2px 2px #885207;
    color: orange;
}
#title{
    font-size: 2em;
    text-shadow: 2px 2px 2px #151515;
    color: orange;
    text-transform: uppercase;
}
#trailerLink{
    text-decoration: none;
}
/* Hover effects */
#trailerLink:hover{
    color: red;
    text-decoration: underline;
    font-weight: 600;
}